.container-calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calories-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.calories-table th,
.calories-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.calories-table th {
  background-color: #f2f2f2;
}

#totalCalories,
#totalCarbs,
#totalProtein {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button i {
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
}

iframe{
  margin-top: 30px;
}
